@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
/*창 작아졌을때*/
@media screen and (max-width: 1105px) {
    .top-bar , .barmenu1 > button {
      display: none;
    }
    .logogo{
      margin-right: auto; 
      margin-top: 10px;
    }
    
    @media (max-width: 1105px) {
      .barmenu2 > .toggle-button {
        display: block;
      }

      .barmenu2 > button {
        height: 30px;
        width: 30px;
        margin-top: 7px;
        padding: 1px;
        background-color: #ffffff;
        border: none;
      }
    }
  }
  /*창 커졌을때*/
  @media (min-width: 1105px) { 
    .barmenu2 > .toggle-button , .hidenav > button{
      display: none;
    }
    

    .top-bar  {
      justify-content: center;
      align-items: center;
    }

    .barmenu2 > button {
      height: 30px;
      width: 30px;
      padding: 1px;
      background-color: #ffffff;
      border: none;
    }
  
  }

  @media (max-width: 530px) { /*모바일*/
    .top-bar > .logogo{
        font-size: 0.5em; 
    }

    .visible > button {
      font-size: 0.5em;
    }

    .hidden > button {
      font-size: 0.5em;
    }

  }

  .visible {
    opacity: 1;
    pointer-events: auto;
    
    transition: opacity 0.3s ease-in-out;
  }
  
  .hidden {
    opacity: 0;
    pointer-events: none;
    
    transition: opacity 0.3s ease-in-out;
  }
  
  

.top-bar {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0px 14px 80px rgba(0, 0, 0, 0.2);
    
    display: flex;
    
    
    font-family: 'Fira Sans', sans-serif;
    transition: height 0.2s ease-in-out;
    background-color: white;
 
}

.hidenav > button {
  cursor: pointer;

  height: 3.6em;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  flex-direction: column;

  transition: background 0.5s ease-in-out,
              color 0.5s ease-in-out;

              
}

.logogo {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.5em;
    background-color: #ffffff;
    cursor: pointer;
}

.barmenu2 {
  background-color: #ffffff;
  display: flex;
  justify-content: center; 
  padding-right: 20px;
}

.barmenu2 > button {
  cursor: pointer;
}

.barmenu1 > button {
    cursor: pointer;
    height: 3.5em;
    
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    background-color: #ffffff;

    transition: background 0.5s ease-in-out,
                color 0.5s ease-in-out;
}

.barmenu1 > button:hover {
    background-color: rgb(0, 128, 255);
    color: white
}


